body {
    font-family: Arial, sans-serif;
    background-color: #b4a8a8;
    margin: 0;
    padding: 0;
}

#quiz-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-container {
    margin-bottom: 20px;
}

#options-container {
    display: flex;
    flex-direction: column;
}

.option {
    background-color: #2786ac;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #45a049;
}

#result-container {
    display: none;
    text-align: center;
}

#next-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#next-button:hover {
    background-color: #007B9E;
}